@mixin font-face($name, $url, $weight, $style) {
  @font-face {
    src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
    font: {
      family: "#{$name}";
      weight: $weight;
      style: $style;
      display: swap;
    }
  }
}

@include font-face("Gilroy", "../../fonts/Gilroy/Gilroy-Regular", 400, normal);
@include font-face("Gilroy", "../../fonts/Gilroy/Gilroy-Medium", 500, normal);
@include font-face("Gilroy", "../../fonts/Gilroy/Gilroy-SemiBold", 600, normal);
@include font-face("Gilroy", "../../fonts/Gilroy/Gilroy-Bold", 700, normal);
