// === BREAKPOINTS ===
@mixin desktop($state) {
  $size: 1440px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}

@mixin minidesktop($state) {
  $size: 1200px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}

@mixin tablet($state) {
  $size: 1024px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}

@mixin minitablet($state) {
  $size: 768px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}

@mixin mobile($state) {
  $size: 576px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}

@mixin minimobile($state) {
  $size: 375px;

  @if $state == max {
    @media (max-width: ($size - 1px)) {
      @content;
    }
  } @else if $state == min {
    @media (min-width: ($size)) {
      @content;
    }
  }
}
